body {
  padding: 120px 60px;
  font-family: "Trebuchet MS", sans-serif;
  background-color: aliceblue;
}

table, th, td {
  border: 2px solid;
}

table {
  width: 80%;
  margin-left: 60px;
  margin-top: 30px;
}

td, th {
  padding: 10px;
  text-align: left;
}

thead {
  background-color: black;
  color: white;
}

.highlight:hover {background-color: coral;}

.code {
  font-family: Courier, monospace;
  background-color: white;
}

.left {
  width: 100px;
  text-align: center;
}
